@charset "utf-8";
/*banner*/
.index_banner{
	/*max-width: 1600px;*/
	margin:auto;
	height:400px;
	position:relative;
	overflow: hidden;
}
.index_banner .login{
	width:306px;
	height:296px;
	/*font-family:"microsoft yahei";*/
	background:rgba(255,255,255,0.62);
	/*border:1px solid rgba(255,255,255,0.8);*/
	-moz-box-shadow:#ccc 0 0 10px;
	-webkit-box-shadow:#ccc 0 0 10px;
	box-shadow:#ccc 0 0 10px;
	position:absolute;
	top:35px;
	right:16%;
	z-index:10;
	text-align: center;
}
@media only screen and (max-width: 1500px) {
	.index_banner .login{
		right:8%;
	}
}
.index_banner .login h3{
	font-size:26px;
	font-weight: bold;
	position:relative;
	margin-top:68px;
}
.index_banner .login p{
	font-size:16px;
}
.index_banner .login p span{
	/*font-family: arial;*/
	font-size:48px;
	color:#ff503f;
	font-weight: bold;
}
.index_banner .login a{
	display:inline-block;
	height:40px;
	line-height: 40px;
	text-align:center;
	border-radius:6px ;
	color:#fff;
}
.index_banner .login .btn1{
	width:67px;
	background:#ff9933;
	margin-right:17px;
}
.index_banner .login .btn1:hover{
	background:#ff8409;
}
.index_banner .login .btn2{
	width:138px;
	background:#ff503f;
}
.index_banner .login .btn2:hover{
	background:#ff2a15;
}
.red{
	color:#ff503f;
}


.slide_box{
	width:100%;
	height:400px;
	position:relative;
	overflow:hidden;
}
.slide_box .hd{
	position:absolute;
	text-align:center;
	top:370px;
	left:50%;
	z-index:20;
}
.slide_box .hd li{
	width:14px;
	height:14px;
	margin:0 4px;
	display:inline-block;
	border-radius: 7px;
	background:#fff;
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:pointer;
}
.slide_box .hd li.on,.slide_box .hd li:hover{
	opacity:1;
	filter:alpha(opacity=100);
}
.slide_box .bd{
	width:100%;
	height:400px;
	position:relative;
}

.slide_box .bd ul li{
	width:100%;
    height:400px;
    float:left;
}

/*content*/
.content{
	width:100%;
	background:#fff;
}
.content .index_news{
	height:60px;
	padding:0 20px;
	line-height: 60px;
	border-bottom: 1px solid #dfdfdf;
}
.content .index_news .txtScroll_top{
	margin-left:10px;
}
.content .index_news .txtScroll_top .bd{
	height:30px;
	margin-top:15px;
	overflow:hidden;
}
.content .index_news .txtScroll_top .bd li{
	width:1035px;
	height:30px;
	line-height:30px;
}
.content .index_news .txtScroll_top .bd li a{
	color:#444;
}
.content .index_news .txtScroll_top .bd li span{
	float:right;
	/*font-family: arial;*/
}

.con1{
	padding:47px 0 45px;
	/*font-family:"microsoft yahei";*/
}
.con1 ul li{
	width:210px;
	float:left;
	margin-right:36px;
	text-align: center;
}
.con1 ul li.mr0{
	margin-right: 0px;
}
.con1 ul li .flipper{
	width:128px;
	height:140px;
	position:relative;
	margin-left:41px;
}
.con1 .flipper .front,
.con1 .flipper .back{
	position:absolute;
	width:128px;
	height:140px;
	left:0;
	top:0;
	backface-visibility: hidden;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
}
.con1 .flipper .front{
	z-index:2;
}
.con1 .flipper .back{
	z-index:1;
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
}
.con1 ul li:hover .flipper .front{
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	z-index:3;
}
.con1 ul li:hover .flipper .back{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
.con1 .flipper .icon1{
	background:url(../img/index/ys_pic_01.png) no-repeat;
}
.con1 .flipper .icon2{
	background:url(../img/index/ys_pic_02.png) no-repeat;
}
.con1 .flipper .icon3{
	background:url(../img/index/ys_pic_03.png) no-repeat;
}
.con1 .flipper .icon4{
	background:url(../img/index/ys_pic_04.png) no-repeat;
}
.con1 .flipper .icon5{
	background:url(../img/index/ys_pic_05.png) no-repeat;
}
.con1 .flipper .icon1_h{
	background:url(../img/index/ys_pic_01h.png) no-repeat;
}
.con1 .flipper .icon2_h{
	background:url(../img/index/ys_pic_02h.png) no-repeat;
}
.con1 .flipper .icon3_h{
	background:url(../img/index/ys_pic_03h.png) no-repeat;
}
.con1 .flipper .icon4_h{
	background:url(../img/index/ys_pic_04h.png) no-repeat;
}
.con1 .flipper .icon5_h{
	background:url(../img/index/ys_pic_05h.png) no-repeat;
}


/*.con1 ul li a{
	display:inline-block;
	width:123px;
	height:137px;
	background:url(../img/index/index_con1_bg.png) no-repeat;
}
.con1 ul li a span{
	display:block;
	width:100%;
	height:100%;
	background:url(../img/index/index_con1_icon.png) no-repeat;
}
.con1 ul li a span.con1_span1{
	background-position:0 0;
}
.con1 ul li a span.con1_span2{
	background-position:0 -137px;
}
.con1 ul li a span.con1_span3{
	background-position:0 -274px;
}
.con1 ul li a span.con1_span4{
	background-position:0 -411px;
}
.con1 ul li a span.con1_span5{
	background-position:0 -548px;
}
.con1 ul li:hover a{
	animation:rotatey 0.6s ;
	-webkit-animation:rotatey 0.6s ;
	-moz-animation:rotatey 0.6s ;
	background:url(../img/index/index_con1_hover.png) no-repeat;
}
@keyframes rotatey{
	from{transform:rotateY(120deg)};
	to{transform:rotateY(0deg)};
}
@-webkit-keyframes rotatey{
	from{-webkit-transform:rotateY(120deg)};
	to{-webkit-transform:rotateY(0deg)};
}
@-moz-keyframes rotatey{
	from{-moz-transform:rotateY(120deg)};
	to{-moz-transform:rotateY(0deg)};
}

.con1 ul li:hover a span.con1_span1{
	background-position:-123px 0;
}
.con1 ul li:hover a span.con1_span2{
	background-position:-123px -137px;
}
.con1 ul li:hover a span.con1_span3{
	background-position:-123px -274px;
}
.con1 ul li:hover a span.con1_span4{
	background-position:-123px -411px;
}
.con1 ul li:hover a span.con1_span5{
	background-position:-123px -548px;
}*/
.con1 ul li:hover{
	color:#ff503f;
}
.con1 ul li h3{
	margin:20px 0 10px;
	font-size:18px;
}

/*体验专区*/
.tyzq{
	position:relative;
	margin-top:32px;
	height:322px;
	border:1px solid #e5e5e5;
	background:#fff;
}
.tyzq .tyzq_img{
	width:273px;
	height:342px;
	background:url(../img/index/tyzq_img1.png) no-repeat;
	margin:-10px 0 0 0;
}
.tyzq .tyzq_img .tyzq_img_txt,
.lczq_left .lczq_left_con .lczq_txt{
	display:none;
	position:absolute;
	color:#fff;
	padding-left:32px;
	/*font-family: "microsoft yahei";*/
}
.tyzq .tyzq_img .tyzq_img_txt h2,
.lczq_left .lczq_left_con .lczq_txt h2{
	font-size:36px;
	line-height:76px;
	font-weight: normal;
}
.lczq_left .lczq_left_con .lczq_txt h2{
	line-height:92px;
}
.tyzq .tyzq_img .tyzq_img_txt p,
.lczq_left .lczq_left_con .lczq_txt p{
	line-height:26px;
}
.tyzq .tyzq_con{
	width:930px;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	/*font-family: "microsoft yahei";*/
}
.tyzq .tyzq_con .tyzq_box{
	height:136px;
	padding:23px 30px 0 50px;
	border:1px solid rgba(255,255,255,0.4);
	background:#fff;
	font-size:12px;
	color:#a9a9a9;
	position:relative;
	z-index:10;
}
.tyzq .tyzq_con .tyzq_box:hover{
	-webkit-box-shadow:#ccc 0 0 5px;
	-moz-box-shadow:#ccc 0 0 5px;
	box-shadow:#ccc 0 0 5px;
	z-index:11;
}
.tyzq .tyzq_con .tyzq_box p .ftb{
	font-weight: bold;
	font-size:18px;
	color:#444444;
}
.tyzq .tyzq_con .tyzq_box p .stylebor,
.bd_li_box .p1 span
{
	display:inline-block;
	padding:0 5px;
	height:22px;
	line-height: 22px;
	color:#ee8f1c;
	/*font-family:"宋体";*/
	font-size:12px;
	margin:0 5px;
	border:1px solid #ee8f1c;
}
.tyzq .tyzq_con .tyzq_box p .small{
	display:inline-block;
	line-height:30px;
}
.tyzq .tyzq_con ..tyzq_box p .num i{
	font-size:16px;
}
.tyzq .tyzq_con .tyzq_box .sy{
	margin-top:50px;
	font-size:14px;
	color:#444;
	position:relative;
}
.tyzq .tyzq_con .tyzq_box .sy span{
	display:inline-block;
	margin-right:40px;
	color:#ff503f;
}
.tyzq .tyzq_con .tyzq_box .sy span strong{
	font-size:45px;
	font-weight: normal;
	/*font-family: arial;*/
}
.tyzq .tyzq_con .tyzq_box .sy a{
	position:absolute;
	width:116px;
	height:28px;
	line-height: 28px;
	border-radius: 4px;
	text-align:center;
	cursor:pointer;
	color:#f6f6f6;
	right:0;
	top:7px;
}
.gray{
	background:#b9b9b9;
}
.gray:hover{
	background:#9a9999;
}
.highcolor{
	background:#ff503f;
}
.highcolor:hover{
	background:#fd3b28;
}

/*理财专区*/
.lczq{
	margin:43px auto 0;
	/*font-family: "microsoft yahei";*/
}
.lczq .tit,
.aboutUs .tit
{
	border-bottom: 1px solid #eee;
    height: 30px;
    line-height: 40px;
    width: 1200px;
    margin: 0px auto 60px auto;
}
.lczq .tit .tit_con,
.aboutUs .tit .tit_con
{
	width: 200px;
    margin: 30px auto;
    background: #fff;
    text-align: center;
}
.lczq .tit .tit_con p,
.aboutUs .tit .tit_con p{
	font-size: 14px;
    color: #999;
    line-height: 20px;
}
.lczq .tit .tit_con h1,
.aboutUs .tit .tit_con h1{
	font-size: 32px;
    color: #333333;
    font-weight: normal;
}
.lczq .lczq_con{
	height:421px;
	border:1px solid #e5e5e5;
	background:#fff;
}
.lczq .lczq_con .lczq_left{
	width:265px;
	height:423px;
	margin-top:-1px;
	background: url(../img/index/ysxl_img.jpg) no-repeat;
	position:relative;
}
.lczq .lczq_con .lczq_left .lc_tab{
	width:137px;
	position:absolute;
	top:186px;
	right:0;
}
.lczq .lczq_con .lczq_left .lc_tab li{
	width:100%;
	height:41px;
	line-height: 40px;
	margin-bottom: 18px;
	color:#fff;
	font-size:16px;
	text-align:center;
	border:1px solid #fff;
	background:rgba(255,255,255,0.19);
	cursor:pointer;
}
.lczq .lczq_con .lczq_left .lc_tab li:hover,
.lczq .lczq_con .lczq_left .lc_tab li.active
{
	color:#ff503f;
	background:#fff;
}

.lczq .lczq_con .lczq_right{
	width:932px;
	height:100%;
	overflow: hidden;
}
.lczq .lczq_con .lczq_right .lczq_box{
	width:100%;
	height:100%;
	position:relative;
	display:none;
	z-index:12;
}
.lczq .lczq_con .lczq_right .lczq_box a.prev,
.lczq .lczq_con .lczq_right .lczq_box a.next
{
	display:block;
	width:31px;
	height:61px;
	position:absolute;
	top:182px;
	background:url(../img/index/icon.png) no-repeat;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
}
.lczq .lczq_con .lczq_right .lczq_box:hover a.prev,
.lczq .lczq_con .lczq_right .lczq_box:hover a.next
{
	opacity:1;
	filter:alpha(opacity=100);
}
.lczq .lczq_con .lczq_right .lczq_box a.prev{
	left:8px;
	background-position:-69px 0;
}
.lczq .lczq_con .lczq_right .lczq_box a.next{
	right:8px;
	background-position:-69px -61px;
}
.lczq .lczq_con .lczq_right .lczq_box .bd{
	width:832px;
	height:371px;
	padding:28px 50px;
	overflow:hidden;
}
.lczq .lczq_con .lczq_right .lczq_box .bd li{
	width:832px;
	height:371px;
	float:left;
}
.lczq_right .lczq_box .bd .bd_li_box{
	width:415px;
	height:185px;
	float:left;
	border-left:1px solid #e0e0e0;
	border-top:1px solid #e0e0e0;
}
.lczq_right .lczq_box .bd .bd_li_box .box{
	transition:transform 0.5s;
	-webkit-transition:transform 0.5s;
	-moz-transition:transform 0.5s;
}
.lczq_right .lczq_box .bd .bd_li_box .box:hover{
	transform:translate(8px,0);
	-webkit-transform:translate(8px,0);
	-moz-transform:translate(8px,0);
}
.lczq_right .lczq_box .bd .bd_li_box1{
	padding-left:15px;
	width:400px;
}

.lczq_right .lczq_box .bd .bd_li_box.not{
	border-top:none;
}
.lczq_right .lczq_box .bd .bd_li_box.nol{
	border-left:none;
}

.bd_li_box h5{
	font-size:18px;
	color:#444;
	font-weight: normal;
}
.bd_li_box h5 span{
	font-size:12px;
	color:#a9a9a9;
}
.bd_li_box .p1 span{
	margin:8px 8px 10px 0;
}
.bd_li_box .p2{
	font-size:14px;
	margin-top:25px;
	color:#a9a9a9;
}
.bd_li_box .p2 span{
	color: #ff503f;
}
.bd_li_box .p2 span strong{
	font-size: 45px;
    font-weight: normal;
    /*font-family: arial;*/
}
.bd_li_box .p3{
	margin-top:10px;
}
.bd_li_box .p3 a{
	display:inline-block;
	width:94px;
	height:28px;
	line-height:28px;
	border-radius: 4px;
	color: #f6f6f6;
	text-align: center;
	cursor:pointer;
	margin-top:-5px;
}

/*advertisement*/
.index_adv{
	margin-top:25px;
}
.index_adv ul li{
	width:290px;
	height:150px;
	overflow:hidden;
	float:left;
	margin-left:13px;
}
.index_adv ul li.first{
	margin-left:0;
}
.index_adv ul li a img{
	display:block;
	transition:transform 0.9s;
	-webkit-transition:transform 0.9s;
}
.index_adv ul li a:hover img{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
}

/*about us*/
.aboutUs{
	margin:30px auto 35px;
	/*font-family:"microsoft yahei";*/
}
.about_con{
	background:#fff;
}
.about_con .about_con_l{
	width:811px;
	height:361px;
	position:relative;
	background:url(../img/index/index_about.jpg) no-repeat;
}
.about_con .about_con_l .about_con_l_box{
	width:264px;
	height:361px;
	background:rgba(255,80,63,0.73);
	position:absolute;
	right:48px;
	top:0;
	color:#fff;
	padding:0 30px;
}
.about_con .about_con_l .about_con_l_box h3{
	margin:70px 0 25px;
	font-size:28px;
}
.about_con .about_con_l .about_con_l_box p{
	font-size:14px;
	line-height:30px;
	text-align: justify;
}
.about_con .about_con_r{
	width:377px;
	height:361px;
	background:#fafafa;
	position:relative;
}
.about_con .about_con_r .line{
	position:absolute;
	width:1px;
	height:100%;
	background:#ff503f;
	left:10px;
	top:0;
	z-index:1;
}
.about_con .about_con_r .about_con_r_box{
	position:absolute;
	z-index:2;
	overflow:auto;
	width:370px;
	height:321px;
	padding:20px 0;
	left:6px;
	top:0;
}
.about_con .about_con_r .about_con_r_box ul li{
	padding-left:17px;
	margin-bottom: 30px;
	width:322px;
	background:url(../img/index/index_about_icon.png) no-repeat 0 8px;	
	font-size:12px;
	line-height:26px;
}
.about_con .about_con_r .about_con_r_box ul li span{
	color:#ff503f;
}
.about_con .about_con_r .about_con_r_box ul li h5{
	font-size:18px;
	color:#000;
}


/*news*/
.news{
	/*font-family:"宋体" ;*/
	color:#666;
	font-size:12px;
}
.news_left{
	width:594px;
}
.news h3{
	height:38px;
	line-height: 38px;
	font-size:16px;
	color:#444;
	border-bottom:1px solid #d8d8d8;
}
.news h3 a{
	/*font-family:"宋体" ;*/
	font-size:12px;
	color:#444;
	font-weight: normal;
	float:right;
}
.news .news_left_con{
	padding-top:20px;
}
.news_left_con_p{
	width:294px;
}
.news_left_con_p p{
	font-size:14px;
	line-height:26px;
}
.news_left_con_p p a{
	color:#ff503f;
}
.news_left_con_p p a:hover{
	color:#e71b0e;
}
.news_left_con_p h6 a{
	font-size:16px;
	color:#444;
	font-weight: normal;
}



/*bottom*/
.bottom a{
	display:block;
	width:298px;
	height:87px;
	float:left;
	margin:30px 0;
	border:1px solid #d8d8d8;
	color:#a1a1a1;
	background:#fff url(../img/index/bottom1.png) no-repeat;
}
.bottom a i{
	display:inline-block;
	font-size:30px;
	margin:25px 0 0 46px;
}
.bottom a.bottom_a1{
	background-position:0 0;
}
.bottom a.bottom_a2{
	background-position:0 -87px;
}
.bottom a.bottom_a3{
	background-position:0 -174px;
}
.bottom a.bottom_a4{
	background-position:0 -261px;
}
.bottom a:hover{
	color:#fff;
	text-shadow: 2px 2px 1px #d63438;
	background:#ff503f url(../img/index/bottom1.png) no-repeat;
}
.bottom a.bottom_a1:hover{
	background-position:-298px 0;
}
.bottom a.bottom_a2:hover{
	background-position:-298px -87px;
}
.bottom a.bottom_a3:hover{
	background-position:-298px -174px;
}
.bottom a.bottom_a4:hover{
	background-position:-298px -261px;
}

/*agency*/
.agency_bg{
	width:100%;
	margin:30px 0 50px;
	background:#fff;
}
.agency  .tit{
	font-size:16px;
	color:#444;
	padding-bottom: 14px;
	border-bottom:1px solid #d8d8d8;
}
.agency .agency_con1 .hzjg{
	padding-top:23px;
}
.agency .agency_con1 .hzjg a{
	display:block;
	width:171px;
	text-align: center;
	float:left;
	margin-bottom: 23px;
}

.agency .agency_con2 .zdjg a{
	display:inline-block;
	margin:25px 20px 0;
}
.agency a:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}


a.more{
	color:#444444;
}
a.more:hover{
	color:#ff5256;
}

/*进度条*/
.jdt_bg{
	display:inline-block;
	width:155px;
	height:18px;
	vertical-align: text-bottom;
	background:#efefef;
	border-radius:9px;
	position:relative;
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.2); 
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2); 
}
.jdt_bg i{
	position:absolute;
	right:10px;
	/*font-family:arial;*/
	font-size:14px;
	color:#444;
}
.jdt_bg .jdt{
	display:inline-block;
	width:10%;
	height:18px;
	background:#fda117;
	border-radius:9px 0 0 9px;
}





