/* CSS Document */
.pagination {
    font-size: 80%;
    margin-top:30px;
    text-align: center;
}
        
.pagination a {
    text-decoration: none;
	border: solid 1px #dbdbdb;
	color: #6b6b6b;
}

.pagination a, .pagination span {
    display: inline-block;
 /*   float: left;*/
    padding: 0.4em 0.7em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #fa5e54;
    color: #fff;
	border: solid 1px #d82525;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#dbdbdb;
	background:#fff;
}

